html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url('images/IMG_20190821_123354.jpg') no-repeat 50% 50%;
  display: table;
  top: 0;
  background-size: cover;
}

.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.content h1 {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-shadow: 0px 0px 300px #000;
  font-size: 500%;
}

.content h2 {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-shadow: 0px 0px 300px #000;
  font-size: 300%;
}

.btn {
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 135%;
    padding: 10px 20px;
    border: solid #fff 3px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0px 0px 100px #000;
}

.btn:hover {
  color: #036AB1;
  border: solid #036AB1 3px;
}
